<td class="whitespace-nowrap py-3 pl-6 pr-3">
  <div class="flex items-center gap-3">
    <img
      src="{{attrImageSrc}}"
      class="rounded-full"
      width="28"
      height="28"
      alt="{{attrImageAlt}}"
    />
    <p>{{name}}</p>
  </div>
</td>
<td class="whitespace-nowrap px-3 py-3">{{email}}</td>
<td class="whitespace-nowrap px-3 py-3">{{amount}}</td>
<td class="whitespace-nowrap px-3 py-3">{{date}}</td>
<td class="whitespace-nowrap px-3 py-3" data-slot="status"></td>
<td class="whitespace-nowrap py-3 pl-6 pr-3">
  <div class="flex justify-end gap-3" data-slot="row-actions"></div>
</td>
