<td
  class="whitespace-nowrap bg-white py-5 pl-4 pr-3 text-sm text-black group-first-of-type:rounded-md group-last-of-type:rounded-md sm:pl-6"
>
  <div class="flex items-center gap-3">
    <img
      src="{{attrImageSrc}}"
      class="rounded-full"
      alt="{{attrImageAlt}}"
      width="28"
      height="28"
    />
    <p>{{name}}</p>
  </div>
</td>
<td class="whitespace-nowrap bg-white px-4 py-5 text-sm">{{email}}</td>
<td class="whitespace-nowrap bg-white px-4 py-5 text-sm">{{totalInvoices}}</td>
<td class="whitespace-nowrap bg-white px-4 py-5 text-sm">{{totalPending}}</td>
<td
  class="whitespace-nowrap bg-white px-4 py-5 text-sm group-first-of-type:rounded-md group-last-of-type:rounded-md"
>
  {{totalPaid}}
</td>
