<td class="invoice-cell--edge">
  <div class="flex items-center gap-3">
    <img
      src="{{attrImageSrc}}"
      class="rounded-full"
      width="28"
      height="28"
      alt="{{attrImageAlt}}"
    />
    <p>{{name}}</p>
  </div>
</td>
<td class="invoice-cell">{{email}}</td>
<td class="invoice-cell">{{amount}}</td>
<td class="invoice-cell">{{date}}</td>
<td class="invoice-cell">
  <span class="{{attrStatusClass}}">
    {{#isPending}}{{label}}{{svgClock}}{{/isPending}}
    {{#isPaid}}{{label}}{{svgCheck}}{{/isPaid}}
  </span>
</td>
<td class="invoice-cell--edge">
  <div class="flex justify-end gap-3">
    <a
      class="rounded-md border p-2 hover:bg-gray-100"
      href="{{attrEditHref}}"
      data-channel="ROUTE"
      data-page-id="dashboard"
      data-topic-id="invoices"
      data-option-id="edit"
      data-invoice-id="{{attrInvoiceId}}"
      data-event-prevent-default="true"
    >
      {{svgPencil}}
    </a>
    <button
      type="button"
      class="rounded-md border p-2 hover:bg-gray-100"
      data-event-type="acmeInvoices"
      data-btn-type="delete-invoice"
      data-invoice-id="{{attrInvoiceId}}"
    >
      <span class="sr-only">Delete</span>
      {{svgTrash}}
    </button>
  </div>
</td>
